@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Mono&display=swap');

button, #importFileLabel {
    position: center;
    border-radius: 40px;
    font-size: 125%;
    min-height: 70px;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-color: black;
    font-family: Montserrat, sans-serif;
    transition: background-color 250ms, border-color 250ms;
    transition-timing-function: ease;
    display: table-cell;
    vertical-align: middle;
    text-align: justify-all;
}

#importFileLabel {
    min-height: 0;
    color: #000;
    font-size: 100%;
}

button:hover, #importFileLabel:hover {
    background-color: #ccc;
    border-color: #fff;
}

input[type=text], input[type=number] {
    width: 60%;
    height: 48px;
    font-size: 48px;
    text-align: center;
    border-radius: 48px;
    border-style: solid;
    border-color: #000;
}

body {
    font-family: sans-serif;
    background: #b0f;
    text-align: right;
    color: #fff;
    overflow-wrap: break-word;
    user-select: none;
}

h1 {
    text-align: center;
}

progress {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    width: 99%;
    height: 40px;
}

progress::-webkit-progress-bar {
    border-radius: 40px;
    background: #202020;
}

progress::-webkit-progress-value {
    border-radius: 40px;
    background: hsl(var(--c), 100%, 50%);
}

.scoreDiv {
    background-color: #333;
    border-color: #111;
    border-style: solid;
    border-radius: 12px;
    width: fit-content;
    min-width: 100px;
    height: fit-content;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.score {
    font-size: 24px;
    display: inline;
    color: gray;
    font-family: Montserrat, sans-serif;
}

#timer {
    position: fixed;
    top: 10px;
    left: 0.5%;
}

#timerText {
    position: fixed;
    left: 15px;
    top: 21px;
    z-index: 100;
    color: #888;
}

#addScoreDiv {
    position: fixed;
    top: 240px;
    left: 50%;
    bottom: 0;
    right: 0;
    margin-left: -50px;
}

#accuracy, #accuracyMessage {
    text-align: center;
    font-size: 64px;
}

#accuracyMessage {
    font-size: 36px;
}

input[type="file"] {
    display: none;
}

#isCorrect {
    position: relative;
    top: 160px;
}

#questions {
    position: relative;
    top: 80px;
}

#answers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    vertical-align: center;
}

.stats {
    position: fixed;
    float: left;
    bottom: 8px;
    font-size: 24px;
    background-color: #000;
    border-radius: 15px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    width: 240px;
    transition: opacity 150ms ease;
    opacity: 50%;
}

.stats:hover {
    opacity: 100%;
}

.gcOutput {
    opacity: 10%;
}

#fire {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    left: 0;
    z-index: -1000;
}

.backBtn {
    width: 96px;
    float: left;
    top: 8px;
    position: absolute;
}

.gcQuestion {
    margin: 1%;
    width: 98%;
    height: 98%;
    background: #00000080;
    border-radius: 15px;
}

.redHover {
    transition: color 200ms;
    cursor: pointer;
}

.redHover:hover {
    color: #a00;
}

.blueHover {
    transition: color 200ms;
    cursor: pointer;
}

.blueHover:hover {
    color: #44f;
}

textarea {
    background: #000;
    color: #fff;
}

#output2 {
    font-family: monospace;
    text-align: left;
    font-size: 12px;
    max-height: 80vh;
}

#output {
    position: fixed;
    bottom: 8px;
    right: 8px;
    font-size: 16px;
}